.container {
    font-family: 'Fredoka One', cursive;
    display: block;
    text-align: center;
    margin-top: 5em;
}

input {
    padding: 0.5em;
    font-size: 1em;
    color: grey;
}

.submit {
    padding: 0.5em 3em;
    background-color: #fee071;
    border: 1px solid #fee071;
    color: grey;
    margin-left: 0.3em;
}

.submit:hover {
    cursor: pointer;
}
